@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');

body {
    height: 100%;
    width: 100%;
    background: #e9e9e9;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #010b26;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
}

h1 {
    font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kanit', sans-serif;
}

p {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}


